# Data Science Tools and Ecosystem

In this Notebook, Data Science Tools and Ecosystem are sumarized.

**Objectives:**
-  List popular languages for Data Science 
-  List commonly used data libraries in Data Science
-  Create a table with Data Science Tools
-  Create code lines containing arithmetic expressions

Some of the popular languages that Data Scientist use are:

1. Python
2. R
3. SQL
4. Scala
5. JAVA

Some of the commonly used data libraries used by Data Scientists include:

1. NumPy
2. SciPy
3. PyTorch
4. Pandas
5. MatPlotLib

| Data Science Tools |
|:---|
| Apache Spark |
| Apache Hadoop |
| Tensor Flow |

### Below are a few examples of evaluating arithmetic expressions in Python.

In [28]:
# This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [32]:
# This will convert 200 minutes to hours by diving by 60
200/60

3.3333333333333335

## Author
Florin Anton